{% extends 'base.html.twig' %}

{% block title %}Project Artfolio - Zmień hasło{% endblock %}

{% block body %}
    <h1>Zmień hasło</h1>
    <form method="post">
        <div class="form-group">
            <label for="new_password">Nowe hasło</label>
            <input type="password" id="new_password" name="new_password" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="confirm_password">Potwierdź nowe hasło</label>
            <input type="password" id="confirm_password" name="confirm_password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Zmień hasło</button>
    </form>
{% endblock %}
