{% extends 'base.html.twig' %}

{% block title %}Project Artfolio - Panel Administratora{% endblock %}

{% block body %}
    <h1>Panel Administratora</h1>
    <ul>
        <li><a href="{{ path('app_admin_users_list') }}">Lista użytkowników</a></li>
    </ul>
{% endblock %}
