{% extends 'base.html.twig' %}

{% block title %}Project Artfolio - Ustaw nowe hasło{% endblock %}

{% block body %}
    <h1>Ustaw nowe hasło użytkownika: {{ user.email }}</h1>
    <form method="post">
        <div class="form-group">
            <label for="new_password">Nowe hasło</label>
            <input type="password" id="new_password" name="new_password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Ustaw nowe hasło</button>
    </form>
{% endblock %}